DJANGO_ENV=development
DJANGO_SECRET_KEY=
DJANGO_DEBUG=True
DATABASE_URL=
ALLOWED_HOSTS=localhost,127.0.0.1
S3_ENDPOINT_URL=
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_BUCKET_NAME=
POSTGRES_DB=vitrine_digitale
POSTGRES_USER=vitrine
POSTGRES_PASSWORD=
