DJANGO_ENV=development
DJANGO_SECRET_KEY=
DJANGO_DEBUG=True
DATABASE_URL=
DATABASE_SCHEMA=
ALLOWED_HOSTS=localhost,127.0.0.1
PORT=8000
USE_S3_STORAGE=False
SERVE_MEDIA_FILES=False
S3_ENDPOINT_URL=
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_BUCKET_NAME=
S3_REGION_NAME=
POSTGRES_DB=vitrine_digitale
POSTGRES_USER=vitrine
POSTGRES_PASSWORD=
